html {
  height: 100%;
  width: 100%;
}

body{
  
}

img{
  heigth: 85%;
  width: 85%;
  object-fit: contain;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(8,12.2dvw);
  grid-template-rows: repeat(8,12.2dvw);
}

.brown{
  background: linear-gradient(87.4deg, rgb(173, 131, 101) 1.9%, rgb(181, 124, 89) 49.7%, rgb(184, 155, 110) 100.5%);
}

.white{
  background-color: #ffffff;
background-image: linear-gradient(147deg, #fafdff 0%, #dce2e8 74%);
}